body{
    background-color: #27272a;
}

/* Propriedades para o parent(pai)

 flex-direction: é uma propriedade CSS que define a direção na qual os itens flexíveis de um contêiner são colocados no layout. Ele pode ser definido como 'row' para colocar os itens em linha horizontalmente, 'row-reverse' para uma linha horizontal inversa, 'column' para colocar os itens em uma coluna verticalmente, ou 'column-reverse' para uma coluna vertical inversa. 

 flex-wrap: é uma propriedade CSS que determina se os itens flexíveis de um contêiner devem ser ajustados automaticamente para caber em uma única linha ou se podem ser distribuídos em várias linhas. Ela pode ser definida como nowrap para evitar que os itens quebrem para a próxima linha, wrap para permitir que os itens quebrem para a próxima linha, ou wrap-reverse para permitir que os itens quebrem para a próxima linha, mas em direção oposta.

 flex-flow: é uma abreviação do flex-direction e flex-wrap passando por parâmetro primeiro o flex-direction depois o flex-wrap, ex: flex-flow: column wrap

 justify-content: é uma propriedade CSS que define como os itens flexíveis são distribuídos ao longo do eixo principal do contêiner flexível. Ela controla o espaçamento entre e ao redor dos itens. Pode ser definida como flex-start para alinhar os itens no início do contêiner, flex-end para alinhá-los no final, center para alinhá-los no centro, space-between para distribuir igualmente os itens com espaços entre eles, space-around para distribuir igualmente os itens com espaços ao redor deles, ou space-evenly para distribuir igualmente os itens com espaços iguais ao redor deles.
 
 align-items: é uma propriedade CSS usada em contêineres flexíveis para controlar a forma como os itens são alinhados ao longo do eixo transversal do contêiner. Ela define o alinhamento vertical dos itens flexíveis dentro do contêiner. Pode ser definida como flex-start para alinhar os itens no início do contêiner, flex-end para alinhá-los no final, center para alinhá-los no centro, stretch para esticar os itens para preencher o contêiner, ou baseline para alinhar os itens de acordo com suas linhas de base.

 gap: é uma propriedade CSS que define o espaço entre as linhas e colunas de um layout de grade ou entre os itens de um contêiner flexível. Ela simplifica a adição de espaçamento uniforme entre os elementos, permitindo especificar um valor único para o espaçamento tanto horizontal quanto vertical. A propriedade gap é frequentemente usada em conjunto com grid-gap para layouts de grade e row-gap e column-gap para flexbox.

 */

 /* Propriedades para o Children(Filho)
 flex-grow: é uma propriedade CSS aplicada aos itens flexíveis dentro de um contêiner flexível. Ela define a capacidade de um item flexível de crescer e ocupar espaço extra dentro do contêiner flexível em relação aos outros itens flexíveis. Quanto maior o valor de flex-grow, mais espaço extra o item flexível ocupará em relação aos outros itens. Se todos os itens têm flex-grow definido, o espaço extra é distribuído proporcionalmente com base nos valores definidos. Se um item tiver um flex-grow de 0, ele não crescerá para ocupar espaço extra.

 flex-shrink: é uma propriedade CSS aplicada aos itens flexíveis dentro de um contêiner flexível. Ela determina a capacidade de um item flexível de encolher quando há pouco espaço disponível dentro do contêiner flexível. Quanto maior o valor de flex-shrink, mais o item flexível encolherá em relação aos outros itens quando houver falta de espaço. Se todos os itens tiverem flex-shrink definido, o encolhimento será distribuído proporcionalmente com base nos valores definidos. Se um item tiver um flex-shrink de 0, ele não encolherá quando houver falta de espaço.

 flex-basis: é uma propriedade CSS aplicada aos itens flexíveis dentro de um contêiner flexível. Ela define o tamanho inicial do item flexível antes de qualquer espaço extra ser distribuído ou encolhido. Pode ser definida com um valor absoluto, como pixels ou porcentagem, ou com valores relativos, como auto para usar o tamanho natural do item ou content para basear o tamanho no conteúdo.
 
 flex: é a abreviação de flex-grow, flex-shrink e flex-basis(parâmetros nessa ordem).

 order: é uma propriedade CSS aplicada aos itens flexíveis dentro de um contêiner flexível. Ela define a ordem em que os itens são exibidos dentro do contêiner, permitindo reorganizá-los independentemente de sua ordem no HTML. Os itens com valores de order menores são exibidos primeiro, enquanto os itens com valores maiores são exibidos posteriormente. O valor padrão é 0, e valores negativos também são permitidos.

 align-items: é uma propriedade CSS aplicada ao contêiner flexível, que controla como os itens flexíveis são alinhados no eixo transversal (vertical) do contêiner. Em resumo, ela define o alinhamento vertical dos itens flexíveis dentro do contêiner.
 
 */

.container{
    display: flex;
    gap: 10px;
    height: 600px;
    flex-flow: column wrap;
    background-color: #6366f1;
}

.item{
    width: 200px;
    height: 200px;
    background-color: #38bdfa;
}