@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('/projeto-social/imagens/fundo-madeira.jpg');
    background-size: cover;
}

main{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}


#telefone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 631px;
    background-color: red;
    background: url('/projeto-social/imagens/frame-iphone.png') no-repeat;
}

#tela{
    
    width: 266px;
    height: 468px;
    background: url('/projeto-social/imagens/tela-home.jpg') no-repeat;
    background-size: cover;
}

#tela-home{
    width: 260px;
    height: 468px;
    overflow: hidden;
}

#redes-sociais{
    display: flex;
    width: 50px;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    padding-top: 5px;
}

.menunav{
    border-radius: 50%;
    height: 40px;
    border: 1.5px solid transparent
}

.menunav:hover{
    border: 1.5px solid white;
    transition-duration: 0.5s;
}